<h1>new post</h1>

<form action="/posts/add" method="POST">
  <div>
    <label>
      <textarea name="name" placeholder="enter your message here"></textarea>
    </label>
  </div>
  <input type="submit" value="Submit" />
</form>

<div>
  <a href="/">Back</a>
</div>