<form action="/signup" method="POST">
  <p>
    <label>Username:
      <input type="text" name="username" placeholder="enter username"/>
    </label>
  </p>
  <p>
    <label>Password:
      <input type="password" name="password" placeholder="enter password"/>
    </label>
  </p>
  <p>
    <button type="submit">Sign Up</button>
  </p>
</form>